<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTynS0JqO4VJkCSy81lO4DvY9dxaOk_7w</string>
	<key>GCM_SENDER_ID</key>
	<string>482004477751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fii.wade.botaniq</string>
	<key>PROJECT_ID</key>
	<string>botaniqscape-18f97</string>
	<key>STORAGE_BUCKET</key>
	<string>botaniqscape-18f97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482004477751:ios:0f20c914176b146809dcb2</string>
</dict>
</plist>